<%- include('partials/header') -%>

<main class="container border">
  <div class="col">
    <img
      src="https://indefiniteloop.com/blog/img/posts/22-03-2017/logo7.jpg"
      class="col-1"
      alt=""
    />
    <a href="/profile" class="navbar-brand h1" style="color: black"
      >feedbacko</a
    >
  </div>
  <div class="text-center">
    <a href="/login" class="col-6 btn btn-danger" style="margin-bottom: 1vh">
      Login</a
    >
    <a href="/signup" class="col-6 btn btn-danger"> Signup</a>
  </div>
</main>

<%- include('partials/footer') -%>
